*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    --color-primary: #2a2aa9;
    --color-secondary: #FFB600;
    --color-tertiary: #090958; 
    --color-text-white: #FFFFFF;
    --color-text-black: #000000;
    background-color: var(--color-primary);
    font-family: 'poppins', 'Roboto', sans-serif;
}

/* Header */
/*coulor icons nav*/

.fa-solid{
    color: var(--color-secondary);
}

header{
    background-color: var(--color-primary);
    height: 3.5em;
}

/* icones menu navigation */

.logo{
    width: 48px;
    margin-left: 10px;
}

.mobile-menu{
    padding: 10px;
}

.nav-link{
    position: relative;
}

.menu-logo{
    position: absolute;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.espaceAdmin{
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    font-size: .8em;
    color: var(--color-text-white);
}

.image-en-tete{ /* image nuage admin */
    width: 100vw;
    height: auto;
    display: block;
    background-color: rgba(255, 255, 255, .9);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.menu li {
    font-size: 1em;
    padding: 10px;
}

.menu a {
    color: var(--color-text-white);
}