*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--color-text-white);
}

body{
    --color-primary: #2a2aa9;
    --color-secondary: #FFB600;
    --color-tertiary: #090958; 
    --color-text-white: #FFFFFF;
    --color-text-black: #000000;
    background-color: var(--color-primary);
    font-family: 'poppins', 'Roboto', sans-serif;
}

/* Header */
/*coulor icons nav*/

.fa-solid{
    color: var(--color-secondary);
}

header{
    background-color: var(--color-primary);
    height: 52px;
}

/* icones menu navigation */

.logo{
    width: 48px;
}

.menu-logo a{
    text-decoration: none;
    color: var(--color-text-black);
}

.mobile-menu{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-link{
    position: relative;
    list-style-type: none;
    display: flex;
    align-content: center;
    width: 100%;
}

.loupe-panier{
    position: absolute;
    right: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-right: 40px;
    margin-top: 10px;
}

.menu-logo{
    position: absolute;
    left: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}

/* Main */
/* Zone panier */

h2{
    display: flex;
    align-items: center;
    margin-left: 1.25em;
    padding-top: .6em;
    font-size: .9em;
    padding-bottom: 1em;
}


.ficheJeux {

    display: grid;
    grid-template-columns: 25vw repeat(3, 1fr);
    grid-template-rows: repeat(2, 7vw);
    position: relative;
    grid-gap: 10px;
}

.jaquette {
    width: 25vw;
    padding: 5px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.titre {

    grid-column: 2/4;
    grid-row: 1/2;
}

.prix {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: right;
}

.age {
    grid-column: 2/3;
    grid-row: 2/3;
}

.fa-trash-can {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-white);
    grid-column: 3/4;
    grid-row: 2/3;
}

.menuQuantite {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 2/3;
    position: absolute;
    right: 0;
}

.quantite {
    width: 13vw;
    border: 2px var(--color-secondary) solid;
    border-radius: 5px;
    padding-left: 5px;

}

.fa-angle-down {
    padding-left: 5px;
}

/* Background du Mon Panier */

.fond {
    background-color: var(--color-tertiary);
    padding-bottom: 5px;
}

.fond2 {
    padding-top: 5px;
}

.fond3 {
    background-color: var(--color-tertiary);
    padding: 5px;
}

.total {
    text-align: right;
    margin-right: 2em;
    margin-top: .4em;
}

/* Carrousel */

.carrousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.produits {
    background-color: var(--color-tertiary);

}

h2{
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--color-text-white);
    margin-left: 1.25em;
    padding-top: .6em;
    font-size: .9em;
}

.fa-circle-arrow-right {
    display: flex;
}

.fa-circle-arrow-right, .fa-circle-arrow-left{ /*couleur arrows carrousel*/
    color: var(--color-secondary);
    display: flex;
    
}

.grid {
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr 1fr 1fr;
}

.ACValhalla {
    width: 60vw;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-right: 5px;
}

.titreJeux {
    color: var(--color-text-white);
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 3px;
    padding-left: 5px;
}

.pegi {
    color: var(--color-text-white);
    grid-column: 2/3;
    grid-row: 3/4;
    padding-right: 5px;
    text-align: right;
}

.tarif {
    color: var(--color-text-white);
    grid-column: 2/3;
    grid-row: 3/4;
    padding-right: 5px;
    text-align: right;
}

.fa-triangle-exclamation {
    color: var(--color-secondary);
    padding-right: 8px;
}

/* Gridpour le jeux Far Cry */

.farCry {
    width: 60vw;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-left: 5px;
    margin-right: 5px;
}

/* Choix de la date et du lieu de retrait */

.menuDeroulant {
    width: 40vw;
    border: 2px var(--color-secondary) solid;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 1em;
}

.retrait {
    display: flex;
    justify-content: center;
}

.retrait ul {
    display: flex;

}

.choixDate {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.Valider {
    background-color: var(--color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnValider {
    color: var(--color-text-white);
    margin: 10px;
    margin-bottom: 10px;
    background-color: var(--color-primary);
    padding: 5px 30px;
    border-radius: 20px;
    border: var(--color-secondary) solid .1em;
    box-shadow: inset -2px -3px 1.5px rgba(0, 0, 0, 0.25);
}

/* FOOTER */

footer {
    color: var(--color-text-white);
}

.mentions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.7em;
}

.reseauxSociaux a i{
    width: 19px;
    display: inline;
    position: relative;
    left: 30%;
    margin-right: 30px;
    margin-bottom: 10px;
    color: var(--color-text-white);  
}